*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    font-family: 'inter', sans-serif;
    color: #000000;
}

.page-header{
    display: flex;
    justify-content: center;
    padding: 28px 0 ;
    background: #000000;
} 

.header-logo{
    display: block;
}

.main-banner,
.middle-banner{
    display: block;
    width: 100%;
}

.top-infocard{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0 96px;
}

.top-infocard-text{
   margin-bottom: 65px;
    max-width: 766px;
}

.top-infocard-subtitle{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 400;
}

.top-infocard-title{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 48px;
}

.top-infocard-description{
    line-height: 24px;
    font-size: 16px;

}

.top-cards{
    display:grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    justify-content: center;
    padding: 74px 0 74px;
    /*background: #F0F0F0;*/
}

.top-card{
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding: 26px 26px 34px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.top-card-image{
    display: block;
    margin-bottom: 26px;
}

.top-card-description{
    max-width: 300px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

}

.bottom-cards{
    display:grid;
    grid-template-columns: repeat(4, max-content);
    gap: 20px;
    justify-content: center;
    padding: 74px 0 74px;
    /*background: #F0F0F0;*/
}

.bottom-card{
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding: 26px 26px 34px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.bottom-card-image{
    display: block;
    margin-bottom: 26px;
}

.bottom-card-description{
    max-width: 300px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

}


.middle-banners{
    position: relative;
    bottom: -60px;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    height: 400px; 
    background:  #E0E0E0; ;
    margin-bottom: 138px;
    width: 1920px;
    height: 442px;
    
}
.middle-banners-desktop{
    position: relative;
    bottom: -60px;
    display: flex;
    justify-content: center;
    gap: 20px;

}

.bottom-infocard {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 142px 0 180px;
    vertical-align: middle;
    justify-content: center;
}

.bottom-infocard-text{
    height: 120px;
    left: 685px;
    top: 3218px;
    padding: 10px 213px 10px;
    justify-content: center;
    text-align: center;
    margin: 10px 10px 0;
}

.bottom-infocard-image-desktop{
    display: block;
    margin-right: 40px;
    max-width: 100%;
    justify-content: center;
    margin: 32px 258px 104px;
    align-items: center;
}

.bottom-infocard-title{
    justify-content: center;
    justify-items: center;
    margin-bottom: 18px;
    line-height: 1;
    font-size: 32px;
    font-weight: 600;
}

.bottom-infocard-description {
    line-height: 24px;
    font-size: 16px;
}


.page-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 0;
    background: #000000;
}

.footer-icons{
    display: flex;
    list-style: none;
}

.footer-icon{
    margin: 0 8px;
}

.footer-text{
    text-transform: uppercase;
    line-height: 12px;
    font-size: 10px;
    color: #BDBDBD;
}



@media screen and (max-width: 425px) {
    .main-banner-desktop,
    .middle-banners-desktop,
    .bottom-infocard-image-desktop { 
        display: none; 
    }

}

@media screen and (max-width: 768px) {
    .top-cards, .bottom-cards{
        grid-template-columns: 1fr  ;
        padding: 36px 26px  ;
    }
    .bottom-cards {
        margin-top: 114px ;
        padding: 0px 26px 0px;
    }
    .footer-text{
        max-width: 280px;

    }
}

@media screen and (max-width: 992px) {
    .top-infocard{
        flex-direction: column;
        padding: 84px 26px 158px;
    }

    .top-infocard-text{
        margin-right: 0 0 68px;

    }

    .top-infocard-subtitle{
        font-size: 20px;
    
    }
    .top-infocard-title{
        margin-bottom: 20px;
        font-size: 28px;
    }

    .top-infocard-image{
        width: 100%;
        max-width: 240px;
    }

}

.bottom-infocard{
        flex-direction: column;
        padding: 80px 0 136px;
    }

    .bottom-infocard-image {
        max-width: 596px;
        width: 100%;
        margin: 0 0 50px;
    }

    .bottom-infocard-text{
        padding: 0 26px;
    }

    .bottom-infocard-title{
        font-size: 24px;
    }

@media screen and (min-width: 769px) and (max-width: 992px)  {
    .bottom-card-description{
        max-width: 280px;
    }
}

@media screen and (min-width:993px) and (max-width: 1280px) {
    .top-infocard-text {
        max-width: 550px;
        margin-right: 26px;
    }

        .bottom-infocard-image {
            max-width: 480px;
    
        }
    
        .bottom-infocard-text{
            text-align: center;
            
            max-width: 400px;
        }
    }

    .bottom-infocard-image {
        max-width: 480px;

    }

    .bottom-infocard-text{
        text-align: center;
    }


@media screen and (min-width: 769px) and (max-width: 1200px)  {
    .top-cards{
        grid-template-columns: repeat(2, max-content);
        padding: 36px 26px  ;
    }
}

@media screen and (min-width: 426px) {
    .main-banner-mobile,
    .middle-banners-mobile,
    .bottom-infocard-image-mobile {
        display: none;

    }
    
}

@media  screen and (min-widht: 426px) {
    .middle-banners-mobile {
    flex-direction: column;
    width: 100px;
    height: 100px;
    display: grid;

}

 .bottom-infocard-text{
    width: 350px;
    height: 192px;
    left: 31px;
    top: 4988px;


    }
}
